@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works on Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #000 #755F7D;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #755F7D ;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
}