@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adiciona a animação de deslizamento */
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.service-card {
  animation: slideIn 0.8s ease forwards; /* Aumenta a duração da animação */
  opacity: 0;
}
